
<div class="row top-row">
  <div class="second-heading col-md-5 col-md-offset-1">
     <p><strong>Welcome to Dev Mountain Social Add Some Info So Friends Can Find You</strong></p>
  </div>
  <div class="col-md-5 col-md-offset-1">

    <form>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <input  type="text" placeholder="Full Name" ng-model="newProfile.fullName" class="form-control">
          </div>
        </div>

        </div>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <input  type="text" placeholder="tagline" ng-model="newProfile.tagline" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <input  type="text" placeholder="Profile Image" ng-model="newProfile.imageUrl" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <textarea placeholder="Short Bio" ng-model="newProfile.shortBio" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <label for="seinfeld_avatar">Select Seinfeld Avatar</label>
          <select name="seinfeld_avatar" id="" class="selectpicker" ng-model="newProfile.avatarSelected.name">
            <option value="">Jerry</option>
            <option value="">Elaine</option>
            <option value="">Krammer</option>
            <option value="">Newman</option>
          </select>

          </div>
        <div class="row">
          <div class="form-group col-md-4 col-md-offset-1">
            <button class="btn btn-small btn-success form-control" ng-click="createProfile(newProfile)" ui-sref="landingPage" >Create Profile</button>
            {{test}}
          </div>
        </div>

    </form>
  </div>
  <div class="col-md-5">
        <img src="https://d13yacurqjgara.cloudfront.net/users/22928/screenshots/2882936/lecrae_gravity_falcons_helmetw_1x.jpg" alt="gravity">
  </div>

</div>
