
<div class="container-fluid">
    <h1 class="col-lg-12">Dev Mountain</h1>
  <div class="col-lg-6">
    <div class="row">
          <h4>Welcome to Dev Mountain Social Add Some Info So Friends Can Find You</h4>
          <input type="text" placeholder="Full Name" ng-model="newProfile.fullName" class="form-control">
          <input type="text" placeholder="Tagline" ng-model="newProfile.tagline" class="form-control">
          <input type="text" placeholder="Profile Image Url" ng-model="newProfile.imageUrl" class="form-control">
          <textarea placeholder="Short Bio" ng-model="newProfile.shortBio" class="form-control"></textarea>
          <button ng-click="createProfile(newProfile)" ui-sref="landingPage" class="form-control">Create Profile</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <img src="https://d13yacurqjgara.cloudfront.net/users/22928/screenshots/2882936/lecrae_gravity_falcons_helmetw_1x.jpg" alt="gravity">
      </div>
    </div>
  </div>
