<div>
  <h1 class="text-center">Find Friends</h1>
  <div class="badge badge-inverse">
    what is a badge
  </div>
</div>
<div class="form-control">
  <label class="lead" for="avatar">Filter People By Favorite Seinfeld Character</label>
  <input type="text" id="avatar" placeholder="Type Seinfeld Character">
</div>
<div ng-repeat="person in people | filter:search_name" class="row">

  <div class="col-md-3">
    <img class="profileImage" ng-model="newFriend.imageUrl" src="{{person.imageUrl}}" alt="">
  </div>
  <div class="col-md-8 well">
    <h3 class="lead media-heading" ng-model="newFriend.fullName">{{person.fullName}}</h3>
    <div ng-model="newFriend.tagline">{{person.tagline}}</div>
    <div ng-model="newFriend.shortBio">{{person.shortBio}}</div>
    <div>
      <img ng-model="newFriend.avatarImage" class="img-thumbnail avatar" ng-src="{{person.avatarImage}}" alt="">
    </div>
  </div>

</div>
<button ng-hide="currentFriend" ng-click="addFriend(newFriend)">Add Friend</button>
</div>
</div>
