
<!-- <div class="row">
<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Filter People By Favorite Seinfeld Character</h3>
  <input class="form-control" type="text" placeholder="Type Seinfeld Character" ng-model="">
</div>
</div> -->
<div ng-repeat="profile in profiles" | filter:search_name" class="row well">
  <div class="form-group col-md-3">
    <div class="col-md-4 col-md-offset-4">
      <img class="form-control profileImage" ng-model="newFriend.imageUrl" src="{{profile.imageUrl}}" alt="">

      <button  class="btn btn-sm btn-success form-control" ng-click="addFriend(profile)">Add Friend</button>

  </div>
</div>
  <div class="col-md-8 well">
    <h3 class="lead" ng-model="newFriend.fullName">{{profile.fullName}}</h3>
    <div ng-model="newFriend.tagline">{{profile.tagline}}</div>
    <div ng-model="newFriend.shortBio">{{profile.shortBio}}</div>

    <div>
      <img ng-model="newFriend.avatarImage" class="img-thumbnail avatar" ng-src="{{profile.avatarImage}}" alt="">
  
    </div>

  </div>

</div>
