<div class="row">
 <div class="navbar">
   <button ui-sref="viewFriends">Back to Friends</button>
 </div>
  <div class="row">
  <div class="form-group col-md-2 col-md-offset-1">
    <h1 class="text-center">Friends View</h1>
    <input type="text" placeholder="fullName" ng-model="search_name" class="form-control">
  </div>
  </div>
  <div ng-repeat="friend in friends | filter:search_name" class="media">
   <div class="col-md-6">
    <a href="" class="media-left">
      <img ng-model="newFriend.imageUrl" src="{{friend.imageUrl}}" alt="">
    </a>
  <div class="media-body">
    <div class="col-md-8">
      <h3 class="lead media-heading" ng-model="newFriend.fullName">{{friend.fullName}}</h3>
      <div ng-model="newFriend.tagline">{{friend.tagline}}</div>
      <div ng-model="newFriend.shortBio">{{friend.shortBio}}</div>
      <div>

        <button ng-hide="currentFriend" ng-click="removeFriend(newFriend)">Remove  Friend</button>
      </div>
    </div>
  </div>
  </div>
</div>
