
<div class="container-fluid" ng-controller='mainCtrl'>
    <h1 class="col-lg-12">Dev Mountain</h1>



  <div class="col-lg-6">
    <div class="row" ng-repeat="profile in editedProfiles">
          <h4>Update Your Profile</h4>
          <p>
            <strong>Fullname:</strong>
            <span ng-show="display">{{profile.fullName}}</span>
            <input ng-hide="display" type="text" placeholder="Full Name" ng-model="newProfile.fullName" class="form-control">
          </p>
          <p>
            <strong>Tagline: </strong>
            <span ng-show="display">{{profile.tagline}}</span>
            <input ng-hide="display" type="text" placeholder="Tagline" ng-model="NewProfile.tagline" class="form-control">
          </p>
          <p>
            <strong>Image Url:</strong>
            <span ng-show="display">{{profile.imageUrl}}</span>
            <input ng-hide="display" type="text" placeholder="Profile Image Url" ng-model="newProfile.imageUrl" class="form-control">
          </p>
          <p>
            <strong>Short Bio:</strong>
            <span ng-show="display">{{profile.shortBio}}</span>
            <textarea ng-hide="display" placeholder="Short Bio" ng-model="newProfile.shortBio" class="form-control"></textarea>
          </p>
      </div>

      <div class="row">
            <button ng-show="display" ng-click="edit()" class="form-control">Edit</button>
            <button ng-hide="display" ng-click="updateProfile(newProfile)" ui-sref="friendProfileView" class="form-control">Save</button>
      </div>


    </div>
    <div class="col-lg-6">
    <div class="row">
      <img src="https://d13yacurqjgara.cloudfront.net/users/22928/screenshots/2882936/lecrae_gravity_falcons_helmetw_1x.jpg" alt="gravity">
    </div>
    </div>
</div>
