
<div class="well text-center">
  <div>
    <h2>{{profilePermenant.fullName}}</h2>
    <h4>{{profilePermenant.tagline}}</h4>
    <p>{{profilePermenant.shortBio}}</p>
  </div>
  <div class="positionAvatar">
    <img  class="avatar" ng-src="{{profilePermenant.avatarImage}}" alt="">
  </div>
</div>
<div class="form-group">
  <button class="btn btn-sm btn-success" ui-sref="findFriends">Find Friends</button>
</div>
<div class="row">
<div class="form-group col-md-4 col-md-offset-4">
  <label  class="lead text-center" for="avatar">Filter Friends By Seinfeld Character</label>
  <input class="form-control" type="text" id="avatar" ng-model="avatarSearch" placeholder="Type Seinfeld Character">
</div>
</div>
<div ng-repeat="friend in friends | filter:avatarSearch" class="row well">

  <div class="col-md-3">

      <img class="col-md-4 col-md-offset-4 profileImage" ng-model="newFriend.imageUrl" src="{{friend.imageUrl}}" alt="">
  </div>
  <div class="col-md-8 well">
    <h3 class="lead media-heading" ng-model="newFriend.fullName">{{friend.fullName}}</h3>
    <div ng-model="newFriend.tagline">{{friend.tagline}}</div>
    <div ng-model="newFriend.shortBio">{{friend.shortBio}}</div>
    <div>
      <img class="avatar" ng-model="newFriend.avatarImage" ng-src="{{friend.avatarImage}}">
    </div>
  </div>
</div>


</div>
</div>
</div>
