
<div class="well text-center">
  <div>
    <h2>{{profile.fullName}}</h2>
    <h4>{{profile.tagline}}</h4>
    <p>{{profile.shortBio}}</p>
  </div>
  <div class="positionAvatar">
    <img  class="avatar" ng-src="{{profile.avatarImage}}" alt="">
  </div>
</div>
<div class="form-group">
  <button class="btn btn-sm btn-success" ui-sref="findFriends">Find Friends</button>
</div>
<div class="row">
<div class="form-group col-md-4 col-md-offset-4">
  <label  class="lead text-center" for="avatar">Filter Friends By Seinfeld Character</label>
  <input class="form-control" type="text" placeholder="Type Seinfeld Character">
</div>
</div>
<div class="row well">

  <div class="col-md-3">
      <div ng-repeat="friend in profile.friends track by $index" class="">
        {{friend.fullName}}
        <img ng-src="{{friend.avatarImage}}" />
        <img ng-src="{{friend.imageUrl}}" />
      </div>
  </div>
</div>
      <!-- <img class="col-md-4 col-md-offset-4 profileImage" src="{{friend.imageUrl}}" alt="">
      <button ng-click="removeFriend(newFriend)"></button>

  <div class="col-md-8 well">
    <h3 class="lead media-heading">{{friend.fullName}}</h3>
    <div>{{friend.tagline}}</div>
    <div>{{friend.shortBio}}</div>
    <div>
      <img class="avatar" ng-src="{{friend.avatarImage}}">
    </div>
  </div>
</div>


</div>
</div>
</div> -->
