html {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Lora-Regular;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: solid teal;
  padding: 20px;
  padding-bottom: 40px;
}
.flexbox{
  display: flex;

}
.left-column{
  flex: 1 1
}
.right-column{
  flex: 1 1
}
.form-flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.form-flexbox h4{
  margin: 10px 100px;
  text-align: center;
}
.form-flexbox input{
  margin: 10px 100px;
  text-align: center;
}
.form-flexbox textarea{
  margin: 10px 100px;
  text-align: center;
}
.form-flexbox button {
  margin: 10px 150px;
  text-align: center;

}
.friend-images{
  display: inline-block;
  width: auto;
  height: 200px;
  overflow: hidden;
  margin: 5px 5px;
}
.friends h2{
  text-align: center;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}
.entryInput{
  margin: 10px;
  padding: 20px;
}
