h


html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Lora-Regular;
}
body {
  margin-bottom: 100px;
  font-family: 'Geostar', cursive;
}

.flexbox{
  display: flex;

}
.head {
    border-bottom: solid teal;
}
.flexUpdate {
  display: flex;
}
.friend-images{
  display: inline-block;
  width: auto;
  height: 200px;
  overflow: hidden;
  margin: 5px 5px;
}
.lead {
  color: #555;
}
.media-text{
  font-family: sans-serif;
}
.heading{
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: solid 2px #1715ff;
  width: 100%;
}
.second-heading p{
  padding: 10px;
font-weight: bold;

  margin: 0 10px 10px 10px;
font-family: 'Geostar', cursive;
line-height: 1.5
}
.container {
  max-width: 960;
}

.well {
  background: transparent;
}
.sub-heading p{

}
.footer{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #efefef;
    padding-top: 50px;
      bottom: 0;
}
.footer a {
  color:  #efefef;
}
.footer a:hover {
  color: #bbc4cc;
}
.footer a:active {
  color: #83898e;
}

.needs-width li{
  width: 150px;
  margin: 0 50px 0 50px;
}
.needs-width li:first-child{
  margin-left: 150px;
}

@media only screen and (max-width: 768px){
  body { margin-bottom: 100px}
  .footer {height: 100px}
}
