<!-- <div class="row">
  <div class="col-lg-6 left-column">

      <div class="form-flexbox" ng-repeat="profile in profiles">
        <h4>Update Your Profile</h4>
        <input type="text" value="{{profile.fullName}}">
        <input type="text" value="{{profileObj.tagline}}">
        <input type="text" value="{{profileObj.image}}">
        <textarea value="{{profile.shortBio}}"></textarea>
        <button ng-click="updateProfile(profile)"><a>Save Changes</a></button>
        <button ></button>
      </div>

  </div>
  <div class="row">
  <div class="col-lg-6">
    <img src="https://d13yacurqjgara.cloudfront.net/users/22928/screenshots/2882936/lecrae_gravity_falcons_helmetw_1x.jpg" alt="gravity">
  </div>
  </div>
</div> -->
